.App {
  max-width: 800px;
  margin: auto;
}

header {
  text-align: center;
}

header img {
  width: calc(5rem + 150*(100vw - 280px)/1520);
  margin-top: 3rem;
}

header #app-version {
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: small;
}

h1 {font-size: calc(3rem + 50*(100vw - 280px)/1520);}
h2 {font-size: calc(1rem + 30*(100vw - 280px)/1520);}
h3 {
  font-size: xx-large;
  padding-top: 100px;
  display: flex;
  align-items: center;
}
h3>svg {
  padding-right: 15px;
}

p {
  font-size: calc(1rem + 6*(100vw - 280px)/1520);
}

.connection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}
.wallet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  font-size: x-large;
  flex: 1;
}
.wallet:hover {
  cursor: pointer;
}
.wallet img {
  width: 100px;
}
.wallet h4 {
  margin: 0;
  font-size: large;
  margin-top: 10px;
}